body {
  margin: 0;
}

.box {
  width: 200px;
  height: 100px;
}

.box1 {
  width: 100%;
  background: steelblue;
  margin-bottom: 50px;
}

.header {
  background: gold;
  height: 40px;
  margin-top: 40px;
}

.box2 {
  opacity: 0.5;
  background-color: tomato;
  margin-top: 30px;
  padding-top: -6px;
}
